<div class="container">
    <div class="parent">
        
        <div class="intro-text-container">
            <section class="short-intro">        
                Private. Secure. Yours.
            </section>
    
            <section class="long-intro">
                <p class="body-large long-intro">
                    Symail is a free, open-source email client that prioritizes your privacy and security. With end-to-end encryption, your emails are safe from prying eyes. Enjoy a sleek, user-friendly interface that makes managing your emails a breeze. Take control of your communication with Symail - where your privacy comes first.
                </p>
                
            </section>
           

        </div>

        <div class="sign-buttons-container">
            <div class="sign-buttons">
                <a class="sign-button" routerLink="/signup">Sign Up</a>
                <a class="sign-button" routerLink="/login">Log In</a>
            </div>

        </div>

    </div>
        
</div>
