# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/sy-mail/dist
/sy-mail/tmp
/sy-mail/out-tsc
/sy-mail/bazel-out

# Node
/sy-mail/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/sy-mail/.angular/cache
.sass-cache/
/sy-mail/connect.lock
/sy-mail/coverage
/sy-mail/libpeerconnection.log
testem.log
/sy-mail/typings

# System files
.DS_Store
Thumbs.db
.env

