<header>
      <mat-toolbar>
   <span style="cursor:pointer" >
     
           <img src="assets/icon/sy_final.svg" [routerLink]="['/']" alt="SyMail" class="logo">      
   
      </span>      
      <ul>
              <li [routerLink]="['/auth/signup']"  style="cursor:pointer">Workflow</li>
              <li><a href="#About" target="_blank">About</a></li>
              <li>Signup/Login</li>
              <li><a href="https://github.com/syedmahmood777/symail" target="_blank"><img class="nav-icon" src="assets\icon\git_icon.png" alt="GitHub Logo"> </a></li>
            </ul>
            </mat-toolbar>

</header>

