.mat-sidenav{
    width: auto;
    height:100vh;
    white-space: nowrap;
    overflow: hidden;
    padding: 1rem;

}

mat-sidenav-container{
    min-height: 500px;
}

header{
    margin: 2em auto ;
    padding: 0 1rem;

     width: 87%;  // Changed from 90% to 85% for better spacing
    max-width: 1400px;
    
    
    
    span{
         font: var(--mat-sys-headline-large);
    }

    mat-toolbar{
        display: flex;
        justify-content: space-between;
        background-color: #D93025 !important;
         padding: 0 2rem;
        color: #fff; // Optional: ensures text is visible
    }


    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    
    li{
      margin:0 0.5rem;
      font-size: 1.3rem;
      font-family: 'Manrope';
      font-weight: 500;
    }
    // li button {
    //   padding: 8px 16px;
      
    //   border-radius: 20px; // Corner radius
    //   border: 2px solid #D93025;
    //   background-color: white;
    //   color: #D93025;
    //   font-weight: 500;
    //     font-size: 1.6rem;
    //   cursor: pointer;
    //   transition: all 0.3s ease; // Smooth transition for hover effect

    //   &:hover {
    //     background-color: #D93025;
    //     color: white;
    //     border-color: white;
    //   }
    // }
}

.logo {
  width: 7.5em;
  height: 2.6em;
}



