<header>
      <mat-toolbar>
 
     
           <img src="assets/icon/sy_final.svg" alt="SyMail" class="logo">
      
   
      
      <ul>
              <li><a href="#Workflow" target="_blank">Workflow</a></li>
              <li><a href="#About" target="_blank">About</a></li>
              <li>Signup/Login</li>
              <li><a href="https://github.com/syedmahmood777/symail" target="_blank"><img class="nav-icon" src="assets\icon\git_icon.png" alt="GitHub Logo"> </a></li>
            </ul>
            </mat-toolbar>

</header>

