.container{
    height: 100%;
    background:linear-gradient(#D93025);
   
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container{
    width: 40%;
    background-color: white;
    height: 95%;
}